#import autosub
#from sys import executable, version
#from os.path import split,join,dirname
#from requests import __version__ as requestsversion
#from cherrypy import __version__ as cherrypyversion
#from autosub.version import autosubversion

#include $join($autosub.PATH.encode(), "interface/templates/header.tmpl")

<script type="text/javascript">
<!--
    autosubRoot = "$autosub.WEBROOT";
//-->
</script>
<div class="page-header"><h3>Info</h3></div>

<div class="well well-sm">
  <strong>GENERAL</strong>
  <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td width="200px">Installation Location</td>
      <td>$autosub.PATH</td>
    </tr>
    <tr>
      <td width="200px">Config file</td>
      <td>
        #if $split($autosub.CONFIGFILE)[0] == ''
        $join($autosub.PATH, $autosub.CONFIGFILE)
        #else
        $autosub.CONFIGFILE
        #end if
      </td>
    </tr>
    <tr>
      <td width="200px">Database file</td>
      <td>$join($autosub.PATH, $autosub.DBFILE)</td>
    </tr>
    <tr>
      <td width="200px">Log file</td>
      <td>
        #if $split($autosub.LOGFILE)[0] == ''
        $join($autosub.PATH, $autosub.LOGFILE)
        #else
        $autosub.LOGFILE
        #end if
      </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td width="200px">Pid:</td>
      <td>$autosub.PID</td>
    </tr>
    <tr>
      <td width="200px">Node Id:</td>
      <td>$autosub.NODE_ID</td>
    </tr>
    <tr>
      <td width="200px">Auto-Sub version:</td>
      <td>$autosubversion</td>
    </tr>
    <tr>
      <td width="200px">Python version:</td>
      <td>$version</td>
    </tr>
    <tr>
      <td width="200px">Python location:</td>
      <td>$dirname($executable)</td>
    </tr>
    <tr>
      <td width="200px">Requests library version:</td>
      <td>$requestsversion</td>
    </tr>
    <tr>
      <td width="200px">CherryPy version:</td>
      <td>$cherrypyversion</td>
    </tr>
    <tr>
      <td width="200px">Bootstrap version:</td>
      <td>$autosub.BOOTSTRAPVERSION</td>
    </tr>
    <tr>
      <td width="200px">jQuery version:</td>
      <td>$autosub.JQUERYVERSION</td>
    </tr>
    <tr>
      <td width="200px">jQuery DataTables version:</td>
      <td>$autosub.JQUERYDATATABLES</td>
    </tr>
  </table>
  <hr>
  <strong>SUPPORT WEBSITES</strong>
  <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td width="200px">Source</td>
      <td><a href="https://github.com/BenjV/autosub" target="_blank">https://github.com/BenjV/autosub</a></td>
    </tr>
    <tr>
      <td width="200px">Open Issues</td>
      <td><a href="https://github.com/BenjV/autosub/issues" target="_blank">https://github.com/BenjV/autosub/issues</a></td>
    </tr>
    <tr>
      <td width="200px">Tweakers.net forum</td>
      <td><a href="http://gathering.tweakers.net/forum/list_messages/1572892" target="_blank">http://gathering.tweakers.net/forum/list_messages/1572892</a></td>
    </tr>
    <tr>
      <td width="200px">Synology forum</td>
      <td><a href="http://www.synology-forum.nl/auto-sub" target="_blank">http://www.synology-forum.nl/auto-sub</a></td>
    </tr>
  </table>
  <hr>
  <strong>USED WEBSITES</strong>
  <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td width="200px">OpenSubutitles</td>
      <td><a href="https://www.opensubtitles.org/" target="_blank">https://www.opensubtitles.org/</a></td>
    </tr>
    <tr>
      <td width="200px">Addic7ed</td>
      <td><a href="http://www.addic7ed.com/" target="_blank">http://www.addic7ed.com/</a></td>
    </tr>
    <tr>
      <td width="200px">Tvdb</td>
      <td><a href="http://thetvdb.com/" target="_blank">http://thetvdb.com/</a></td>
    </tr>
    <tr>
      <td width="200px">SubtitleSeeker</td>
      <td><a href="http://www.subtitleseeker.com/" target="_blank">http://www.subtitleseeker.com/</a></td>
    </tr>
    <tr>
      <td width="200px">Podnapisi</td>
      <td><a href="https://www.podnapisi.net/" target="_blank">https://www.podnapisi.net/</a></td>
    </tr>
    <tr>
      <td width="200px">Subscene</td>
      <td><a href="https://subscene.com/" target="_blank">https://subscene.com/</a></td>
    </tr>
  </table>
  <hr>
<h4><strong>Releasenotes version 1.2.xx</strong></h4>
<strong>Uitbreidingen:</strong><br>
 - Commandline: -c path\config.properties zal ook dat path voor de database en logfile gebruikt worden<br>
 - Uitbreiding van de minmatch score met disto (e.g. amazon, netflix, hbo enz.)<br>
 - Mogelijkheid om de lees/schrijf rechten van de gedownloadde sub te setten (werkt niet onder Windows)<br>
 - Mogelijkheid om een "must match" tabel van releasgroepen op te nemen.<br>
&emsp;Als autosub zo'n releasegroep tegenkomt moet zowel de sub als de video de desbetreffende releasegroep bevatten anders is er geen match.<br>
 - web, webrip en web-dl zijn nu aparte source qualifiers, dus web is niet me er gelijk aan web-dl<br>
 - Lijst met meer dan 3200 releasegroepen toegevoegd die automatisch wordt geupdate vanaf github.<br>
&emsp;Dus als er een nieuwe releasegroep opduikt of als ik er een gemist heb hoor ik het graag dan voeg ik hem toe.<br>
 - Lijst met Addic Id's wordt ook automatisch vanaf github bijgewerkt dus hier hoor ik ook graag als er een gemist wordt.<br>
 - Voor oude video's wordt minder vaak naar subs gezocht.(zie beneden voor uitleg)<br>
&emsp;Dat zie je doordat ze "greyed out"(plus een streepje in plaats van een vinkje) in de wanted lijst staan.<br>
 - Subs waar niet voldoende info voor aanwezig is om aan de minmatch score te voldoen staan "greyed out" in de wanted lijst.<br>
 - De layout van de home pagina is aangepast om efficienter met de ruimte om te gaan.<br>
 - De bron van de sub is aan de "Downloaded" lijst toegevoegd waardoor de hover functie komt te vervallen.<br>
 - Het zoeken van subs op Addic7ed is uitgebreid met een retry.<br>
&emsp;Als je naar een oude sub zoekt blijkt addic7ed de eerste keer vaak geen resultaten te geven, maar na een retry wel.<br>
 - De analyse-functie van de video bestandsnamen is geheel herschreven mede door toevoeging van de distro functionaliteit van de minmatch score.<br>
 - Als er een disto (bijvoorbeeld AMZ) in de sub voorkomt zal hij matchen met alle video files waar het woord web in voorkomt als source.<br>
<br>
<strong>Zoekschema voor oude video's:</strong><br>
Tussen 0 en 4 weken wordt altijd gezocht naar de sub.<br>
Tussen 4 en 16 weken wordt er een keer per week gezocht op een dag gezocht.<br>
Ouder dan 16 weken wordt er een keer per 4 weken gezocht op een dag gezocht.<br>
<br>
<strong>Vervallen:</strong><br>
 - De preview van de sub is vervallen.<br>
&emsp;De manier waarop dat geimplementeerd was had tot gevolg dat alle subs die gedownload waren in memory gelezen werden.<br>
&emsp;Dat maakte de zaak erg traag als je veel subs hebt gedownload.<br>
 - De hover functie van de "Downloaded" lijst is vervallen omdat alle informatie nu in de kolommen staat.<br>
</div>
#include $join($autosub.PATH.encode(), "interface/templates/footer.tmpl")
