#import autosub

		<div class="form-group">
			<label for="WebServerIP" class="col-sm-2 control-label">Webserver IP <a data-placement="bottom" data-toggle="tooltip" data-original-title="To allow hosts to connect to any ip number assign to the machine use '0.0.0.0'."><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<div class="col-sm-10">
			<input type="text" class="form-control" name="webserverip" value="$autosub.WEBSERVERIP" placeholder="">
			</div>
		</div>
		
		<div class="form-group">
			<label for="WebServerPort" class="col-sm-2 control-label">WebServer Port <a data-placement="bottom" data-toggle="tooltip" data-original-title="Set port"><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<div class="col-sm-10">
			<input type="text" readonly class="form-control" name="webserverport" value="$autosub.WEBSERVERPORT" placeholder="">
			</div>
		</div>
		
		<div class="form-group">
			<label for="AutoSubUsername" class="col-sm-2 control-label">Username <a data-placement="bottom" data-toggle="tooltip" data-original-title="If a username and password are set, the webserver requires authentication. Otherwise no authentication is set or required."><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<div class="col-sm-10">
			<input type="text" class="form-control" name="username" value="$autosub.USERNAME" placeholder="">
			</div>
		</div>
		
		<div class="form-group">
			<label for="AutoSubPassword" class="col-sm-2 control-label">Password <a data-placement="bottom" data-toggle="tooltip" data-original-title="Set password."><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<div class="col-sm-10">
			<input type="password" class="form-control" name="password" value="$autosub.PASSWORD" placeholder="">
			</div>
		</div>
		
		<div class="form-group">
			<label for="Webroot" class="col-sm-2 control-label">Webroot <a data-placement="bottom" data-toggle="tooltip" data-original-title="Set Webroot for reverse proxying. Example: to proxy it to http://localhost/autosub/ webroot needs to be: /autosub"><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<div class="col-sm-10">
			<input type="text" class="form-control" name="webroot" value="$autosub.WEBROOT" placeholder="">
			</div>
		</div>
