#import autosub

<div class="well well-sm">
  <div class="form-group">
    <label for="Logfile" class="col-sm-4 control-label">Logfile
      <a data-placement="right" data-toggle="tooltip" title="The location and the name of the logfile(needs a reboot)."><span class="glyphicon glyphicon-info-sign"></span></a>
    </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="logfile" value="$autosub.LOGFILE" placeholder="$autosub.LOGFILE">
    </div>
  </div>

  <div class="form-group">
    <label for="Loglevel" class="col-sm-4 control-label">Loglevel
      <a data-placement="right" data-toggle="tooltip" title="Set the loglevel."><span class="glyphicon glyphicon-info-sign"></span></a>
    </label>
    <div class="col-sm-3">
      <select name="loglevel" class="form-control">
        <option value=$logging.INFO  #if $autosub.LOGLEVEL == 20 then 'selected="selected"' else "" #>Info</option>
        <option value=$logging.ERROR #if $autosub.LOGLEVEL == 40 then 'selected="selected"' else "" #>Error</option>
        <option value=$logging.DEBUG #if $autosub.LOGLEVEL == 10 then 'selected="selected"' else "" #>Debug</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="Lognum" class="col-sm-4 control-label">Max logfile's
      <a data-placement="right" data-toggle="tooltip" title="Number of logfiles to keep on disk."><span class="glyphicon glyphicon-info-sign"></span></a>
    </label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="lognum" value="$autosub.LOGNUM">
    </div>
  </div>

  #set $logfilesize = $autosub.LOGSIZE/1024
  <div class="form-group">
    <label for="Logsize" class="col-sm-4 control-label">Logsize
      <a data-placement="right" data-toggle="tooltip" title="Maximum size of the log files in KiloBytes."><span class="glyphicon glyphicon-info-sign"></span></a>
    </label>
    <div class="col-sm-4">
      <div class="input-group">
        <input type="text" class="form-control" name="logsize" value="$logfilesize">
        <span class="input-group-addon">Kbytes</span>
      </div>
    </div>
  </div>

</div>