#import autosub
<div class="well well-sm">
  <div class="form-group">
    <label for="WebServerIP" class="col-sm-4 control-label">Webserver Ip : Port
      <a data-placement="right" data-toggle="tooltip" data-html="true" title="Ip adres of the Webserver.<br>For local use 0.0.0.0"><span class="glyphicon glyphicon-info-sign"></span></a>
     </label>
    <div class="col-sm-4"><input type="text" class="form-control" name="webserverip" value="$autosub.WEBSERVERIP"></div>
    <div class="col-sm-2"><input type="text" readonly class="form-control" name="webserverport" value="$autosub.WEBSERVERPORT"></div>
  </div>
    
  <div class="form-group">
    <label for="AutoSubUsername" class="col-sm-4 control-label">Username
      <a data-placement="right" data-toggle="tooltip" data-html="true" title="If a username and password are set, the webserver requires authentication.<br>Otherwise no authentication is set or required.">
        <span class="glyphicon glyphicon-info-sign"></span>
      </a>
    </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="username" value="$autosub.USERNAME">
    </div>
  </div>
    
  <div class="form-group">
    <label for="AutoSubPassword" class="col-sm-4 control-label">Password
      <a data-placement="right" data-toggle="tooltip" title="Set password."><span class="glyphicon glyphicon-info-sign"></span></a>
    </label>
    <div class="col-sm-8">
      <input type="password" class="form-control" name="password" value="$autosub.PASSWORD">
    </div>
  </div>
    
  <div class="form-group">
    <label for="Webroot" class="col-sm-4 control-label">Webroot
      <a data-placement="right" data-toggle="tooltip" title="Set Webroot for reverse proxying. Example: to proxy it to http://localhost/autosub/ webroot needs to be: /autosub">
        <span class="glyphicon glyphicon-info-sign"></span>
      </a>
    </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="webroot" value="$autosub.WEBROOT">
    </div>
  </div>
</div>