#import autosub
#from sys import executable, version
#from os.path import split,join,dirname
#from requests import __version__ as requestsversion
#from cherrypy import __version__ as cherrypyversion
#from autosub.version import autosubversion

#include $join($autosub.PATH.encode(), "interface/templates/header.tmpl")

<script type="text/javascript">
<!--
    autosubRoot = "$autosub.WEBROOT";
//-->
</script>
<div class="page-header"><h3>Info</h3></div>

<div class="well well-sm">
  <strong>GENERAL</strong>
  <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td width="200px">Installation Location</td>
      <td>$autosub.PATH</td>
    </tr>
    <tr>
      <td width="200px">Config file</td>
      <td>
        #if $split($autosub.CONFIGFILE)[0] == ''
        $join($autosub.PATH, $autosub.CONFIGFILE)
        #else
        $autosub.CONFIGFILE
        #end if
      </td>
    </tr>
    <tr>
      <td width="200px">Database file</td>
      <td>$join($autosub.PATH, $autosub.DBFILE)</td>
    </tr>
    <tr>
      <td width="200px">Log file</td>
      <td>
        #if $split($autosub.LOGFILE)[0] == ''
        $join($autosub.PATH, $autosub.LOGFILE)
        #else
        $autosub.LOGFILE
        #end if
      </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td width="200px">Pid:</td>
      <td>$autosub.PID</td>
    </tr>
    <tr>
      <td width="200px">Node Id:</td>
      <td>$autosub.NODE_ID</td>
    </tr>
    <tr>
      <td width="200px">Auto-Sub version:</td>
      <td>$autosubversion</td>
    </tr>
    <tr>
      <td width="200px">Python version:</td>
      <td>$version</td>
    </tr>
    <tr>
      <td width="200px">Python location:</td>
      <td>$dirname($executable)</td>
    </tr>
    <tr>
      <td width="200px">Requests library version:</td>
      <td>$requestsversion</td>
    </tr>
    <tr>
      <td width="200px">CherryPy version:</td>
      <td>$cherrypyversion</td>
    </tr>
    <tr>
      <td width="200px">Bootstrap version:</td>
      <td>$autosub.BOOTSTRAPVERSION</td>
    </tr>
    <tr>
      <td width="200px">jQuery version:</td>
      <td>$autosub.JQUERYVERSION</td>
    </tr>
    <tr>
      <td width="200px">jQuery DataTables version:</td>
      <td>$autosub.JQUERYDATATABLES</td>
    </tr>
  </table>
  <hr>
  <strong>SUPPORT WEBSITES</strong>
  <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td width="200px">Source</td>
      <td><a href="https://github.com/BenjV/autosub" target="_blank">https://github.com/BenjV/autosub</a></td>
    </tr>
    <tr>
      <td width="200px">Open Issues</td>
      <td><a href="https://github.com/BenjV/autosub/issues" target="_blank">https://github.com/BenjV/autosub/issues</a></td>
    </tr>
    <tr>
      <td width="200px">Tweakers.net forum</td>
      <td><a href="http://gathering.tweakers.net/forum/list_messages/1572892" target="_blank">http://gathering.tweakers.net/forum/list_messages/1572892</a></td>
    </tr>
    <tr>
      <td width="200px">Synology forum</td>
      <td><a href="http://www.synology-forum.nl/auto-sub" target="_blank">http://www.synology-forum.nl/auto-sub</a></td>
    </tr>
  </table>
  <hr>
  <strong>USED WEBSITES</strong>
  <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td width="200px">OpenSubutitles</td>
      <td><a href="https://www.opensubtitles.org/" target="_blank">https://www.opensubtitles.org/</a></td>
    </tr>
    <tr>
      <td width="200px">Addic7ed</td>
      <td><a href="http://www.addic7ed.com/" target="_blank">http://www.addic7ed.com/</a></td>
    </tr>
    <tr>
      <td width="200px">Tvdb</td>
      <td><a href="http://thetvdb.com/" target="_blank">http://thetvdb.com/</a></td>
    </tr>
    <tr>
      <td width="200px">SubtitleSeeker</td>
      <td><a href="http://www.subtitleseeker.com/" target="_blank">http://www.subtitleseeker.com/</a></td>
    </tr>
    <tr>
      <td width="200px">Podnapisi</td>
      <td><a href="https://www.podnapisi.net/" target="_blank">https://www.podnapisi.net/</a></td>
    </tr>
    <tr>
      <td width="200px">Subscene</td>
      <td><a href="https://subscene.com/" target="_blank">https://subscene.com/</a></td>
    </tr>
  </table>
</div>
#include $join($autosub.PATH.encode(), "interface/templates/footer.tmpl")
