#import autosub
#from autosub.WebServer import CheckMobileDevice
#from autosub.version import autosubversion
#import cherrypy 

#set useragent = cherrypy.request.headers.get("User-Agent", '')
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Auto-Sub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noindex, nofollow"/>
    <link href="$autosub.WEBROOT/css/jquery.dataTables.css" rel="stylesheet"/>
    <link href="$autosub.WEBROOT/css/bootstrap.css" rel="stylesheet"/>
    <link href="$autosub.WEBROOT/css/autosub-custom.css" rel="stylesheet"/>
    <style> th {text-align: center;}</style>
  </head>

  <body>
    <a id="top"></a>
          <!-- begin container (ends on next template) -->
    <div class="container-fluid" style="max-width:1280px">
          <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          #if not $autosub.TVDBACCOUNTID
            <a class="navbar-brand"><font color="#800040"><h5><b>No Tvdb<br>Account !&emsp;</h5></b></font></a>
          #else
            <a class="navbar-brand"><h6>&emsp;Versions:<br>$autosubversion ($autosub.GITHUBVERSION)&emsp;</h6></a>
          #end if
        </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="$autosub.WEBROOT/home"><h4><font color="white">Home</font></h4></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4><font color="white">Commands</font> <b class="caret"></b></h4></a>
              <ul class="dropdown-menu">
                <li><a href="$autosub.WEBROOT/home/runNow"><span class="glyphicon glyphicon-search" style="color:blue"></span> Forced Search</a></li>
                <li><a href="$autosub.WEBROOT/home/stopSearch"><span class="glyphicon glyphicon-stop" style="color:blue"></span> Stop Search</a></li>
                <li class="divider"></li>
                <li><a href="$autosub.WEBROOT/home/checkVersion"><span class="glyphicon glyphicon-download"></span> Check Version</a></li>
                <li><a href="$autosub.WEBROOT/home/UpdateAutoSub"><span class="glyphicon glyphicon-retweet"style="color:red"></span> Update</a></li>
                <li><a href="$autosub.WEBROOT/home/shutdown"><span class="glyphicon glyphicon-off" style="color:red"></span> Shutdown</a></li>
                <li><a href="$autosub.WEBROOT/home/RebootAutoSub"><span class="glyphicon glyphicon-refresh"></span> Reboot</a></li>
                <li class="divider"></li>
                <li><a href="$autosub.WEBROOT/home/backup"><span class="glyphicon glyphicon-export"  style="color:green"></span> Backup</a></li>
                <li><a href="$autosub.WEBROOT/home/restore"><span class="glyphicon glyphicon-import" style="color:green"></span> Restore</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Flush</li>
                <li><a href="$autosub.WEBROOT/home/flushCache">- Cache</a></li>
                <li><a href="$autosub.WEBROOT/home/flushLastdown">- Downloaded</a></li>
                <li><a href="$autosub.WEBROOT/log/clearLog">- Logfile</a></li>
                <li class="divider"></li>
                <li><a href="https://github.com/BenjV/autosub/issues" target="_blank"><span class="glyphicon glyphicon-list"></span> Report Issue</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h4><font color="white">Configuration</font> <b class="caret"></b></h4></a>
              <ul class="dropdown-menu">
                <li><a href="$autosub.WEBROOT/config/info"><span class="glyphicon glyphicon-info-sign"></span>Info & Help</a></li>
                <li class="divider"></li>
                <li><a href="$autosub.WEBROOT/config/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li><a href="$autosub.WEBROOT/config/notifications"><span class="glyphicon glyphicon-bell"></span> Notifications</a></li>
              </ul>
            </li>
            <li><a href="$autosub.WEBROOT/log"><h4><font color="white">Log</font></h4></a></li>
            #if $CheckMobileDevice($useragent) == True
              <li><a href="$autosub.WEBROOT/home/exitMini"><h4>Mobile Interface</h4></a></li>
            #end if

          </ul>
        </div><!--/.nav-collapse -->
      </div>
