#import autosub
#import time
#from os import path
#include $path.join($autosub.PATH.encode(), "interface/templates/header.tmpl")

      <div class="overview">
        <div id="Wanted" class="well well-sm center well-header"><font size="3" color="royalblue"><b>Wanted</b></font>
          #if not $autosub.DOWNLOADDUTCH and not $autosub.DOWNLOADENG
            <br><font color="red"><b>You currently have Dutch and English disabled, you don't want to use me anymore? :(</font></b>
          #elif not $autosub.SERIESPATH
            <br><font color="red"><b>No Serie Path defined.</font></b>
          #elif $autosub.SCANDISK
            <br><font color="royalblue"><b>Autosub is scanning the disk at the moment.</font></b>
          #elif not $autosub.WANTEDQUEUE
            <br><font color="green"><b>No sub wanted at the moment.</font></b>
          #else
              <div class="table-responsive">
                <table id="wanted" class="table table-condensed table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Show name</th>
                      <th>Se&nbsp; </th>
                      <th>Ep&nbsp; </th>
                      <th>File Date</th>
                      <th align="center">&nbsp;&nbsp;
                        <a data-placement="right" data-toggle="tooltip" title="This show will be included in the current search or show the remaining days for next search!" class="center">
                          <span class="glyphicon glyphicon-search">&nbsp;</span>
                        </a>
                      </th>
                      <th align="center">&nbsp;&nbsp;
                        <a data-placement="right" data-toggle="tooltip" title="Select to skip show from Search.(They will not appear in this list anymore)" class="center">
                          <span class="glyphicon glyphicon-wrench"></span>
                        </a>
                      </th>
                      #if $autosub.MINMATCHSCORE & 16
                        <th> <font color="red">Source</th></font>
                      #else
                        <th>Source</th>
                      #end if
                      #if $autosub.MINMATCHSCORE & 8 
                        <th> <font color="red">Distro</th></font>
                      #else
                        <th>Distro</th>
                      #end if
                      #if $autosub.MINMATCHSCORE & 4
                        <th> <font color="red">ReleaseGrp</th></font>
                      #else
                        <th>ReleaseGrp</th>
                      #end if
                      #if $autosub.MINMATCHSCORE & 2
                        <th> <font color="red">Quality</th></font>
                      #else
                        <th>Quality</th>
                      #end if
                      #if $autosub.MINMATCHSCORE & 1
                        <th> <font color="red">Codec</th></font>
                      #else
                        <th>Codec</th>
                      #end if
                      <th>Lang</th>
                      <th>&nbsp;&nbsp;Imdb-Id&nbsp;&nbsp;: A7-Id</th>
                    </tr>
                  </thead>
                  <tbody>
                    #for $var in $autosub.WANTEDQUEUE
                      #if not $var['Search']
                        <tr class="text-muted">
                      #else
                        <tr class="text-primary">
                      #end if
                      <td align="left"><a data-placement="right" data-toggle="tooltip" title="$var['file']">$var['show']</a></td>
                      <td>$var['season'] </td>
                      <td>$var['episode']</td>
                      <td>$var['timestamp'][:-3]</td>
                      #if $var['nomatch']
                        <td><span class="glyphicon glyphicon-minus"></span></td> 
                      #elif $var['Search']
                        <td><font color="red"><span class="glyphicon glyphicon-ok"></span></font></td>
                      #else
                        <td> <font color="green">$var['Remain']</font></td>
                      #end if
                      <td>
                        #set $SE = "S" + $var['season'] + "E" + $var['episode']
                        #if $var['ImdbId']
                          #set $Skip = $var['ImdbId']
                        #else
                          #set $Skip = $var['show']
                        #end if
                        <div class="dropup">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span></a>
                          <ul class="dropdown-menu">
                            <h5>
                              <li><a href="$autosub.WEBROOT/config/skipShow/$Skip/-1">Skip Show</a></li>
                              <li><a href="$autosub.WEBROOT/config/skipShow/$Skip/$var['season']">Skip Season S$var['season']</a></li>
                              <li><a href="$autosub.WEBROOT/config/skipShow/$Skip/$var['season']/$var['episode']">Skip Episode $SE</a></li>
                            </h5>
                            </ul>
                          </div>
                      </td>
                      #if $autosub.MINMATCHSCORE & 16
                        <td class="text-danger">
                      #else
                        <td>
                      #end if
                      $var['source']
                      </td>
                        #if $autosub.MINMATCHSCORE & 8
                          <td class="text-danger">$var['distro']</td>
                        #else
                          <td>$var['distro']</td>
                        #end if
                        #if $autosub.MINMATCHSCORE & 4
                          <td class="text-danger">$var['releasegrp']</td>
                        #else
                          <td>$var['releasegrp']</td>
                        #end if
                        #if $autosub.MINMATCHSCORE & 2
                          <td class="text-danger">$var['quality']</td>
                        #else
                          <td>$var['quality']</td>
                        #end if
                        #if $autosub.MINMATCHSCORE & 1
                          <td class="text-danger">$var['codec']</td>
                        #else
                          <td>$var['codec']</td>
                        #end if
                        <td>
                          #if "nl" in $var['langs']
                            <img src="$autosub.WEBROOT/images/nl.png" alt="nl" title="Dutch"/>
                          #end if
                          #if "en" in $var['langs']
                            <img src="$autosub.WEBROOT/images/en.png" alt="en" title="English"/>
                          #end if
                        </td>
                        #if $var['ImdbId']:
                          #set $ImdbLink = "http://www.imdb.com/title/tt" + $var['ImdbId']
                          #set $ImdbId = $var['ImdbId']
                        #else
                          #set $ImdbLink ='http://www.imdb.com/'
                          #set $ImdbId = '-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-'
                        #end if
                        #if $var['A7Id']
                          #set $A7Link   = "http://www.addic7ed.com/show/" + $str(var['A7Id'])
                          #set $A7Id = $str(var['A7Id'])
                        #else
                          #set $A7Link   = "http://www.addic7ed.com/"
                          #set $A7Id = "-&nbsp;-&nbsp;-&nbsp;-"
                        #end if
                        <td><a href=$ImdbLink target="_blank">$ImdbId :</a> <a href=$A7Link target="_blank">$A7Id</a></td>
                      </tr>
                    #end for
                  </tbody>
                </table>
              </div>

          #end if
        </div>
        <div id="Downloaded">
          <div class="well well-sm center well-header"><font size="3" color="royalblue"><b>Downloaded</b></font>
            #if not $autosub.DOWNLOADED
              <br>No data available at the moment.
            #else
              <div class="table-responsive">
                <table id="downloaded" class="table table-condensed table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Show name</th>
                      <th>Se&nbsp;&nbsp;</th>
                      <th>Ep&nbsp;&nbsp;</th>
                      <th>Sub File Date</th>
                      <th>Source</th>
                      <th>Distro</th>
                      <th>ReleaseGrp</th>
                      <th>Quality&nbsp;</th>
                      <th>Codec&nbsp;</th>
                      <th>From</th>
                      <th>Lang</th>
                    </tr>
                  </thead>
                  <tbody>
                    #for $var in $autosub.DOWNLOADED
                      <tr>
                        <td align="left">$var[1]</td>
                        <td>$var[2]</td>
                        <td>$var[3]</td>
                        <td>$var[4][:-3]</td>
                        <td>$var[5]</td>
                        <td>$var[6]</td>
                        <td>$var[7]</td>
                        <td>$var[8]</td>
                        <td>$var[9]</td>
                        <td>$var[10]</td>
                        <td>
                          #set $imageurl = $autosub.WEBROOT + "/images/" + $var[11] + ".png"
                          <img src="$imageurl" alt="$var[11]" title="language"/>
                        </td>
                      </tr> 
                    #end for
                  </tbody>
                </table>
              </div>
            #end if
          </div>
        </div>
      </div>
      <div class="well well-sm center well-header">
        <b><font size="3">
          #if $autosub.SEARCHBUSY :
            Search is busy...
          #else
            Next Search in :<font color="royalblue">
            #try:
              #set $nextrun = $autosub.SEARCHINTERVAL - ($time.time() - $autosub.LASTRUN )
              $int($time.strftime('%H', $time.gmtime($nextrun))) hours and 
              $int($time.strftime('%M', $time.gmtime($nextrun))) min.
            #except:
              Search is busy...
            #end try
          #end if
        </b></font>
      </div>
    </div><!-- end container (from header template) -->

#include $path.join($autosub.PATH.encode(), "interface/templates/footer.tmpl")
