#import autosub

#include $os.path.join($autosub.PATH.encode(), "interface/templates/header.tmpl")

		<div class="page-header"><h1>Message</h1></div>
   		<div class="well well-small">$message</div>

#include $os.path.join($autosub.PATH.encode(), "interface/templates/footer.tmpl")