#import autosub

#include $os.path.join($autosub.PATH.encode(), "interface/templates/header.tmpl")

		<div class="page-header"><h1>Shutdown</h1></div>

   		<div class="well well-small">
		AutoSub is shutting down...		
		</div>

#include $os.path.join($autosub.PATH.encode(), "interface/templates/footer.tmpl")