#import autosub
#from string import capwords

#include $os.path.join($autosub.PATH.encode(), "interface/templates/header.tmpl")

		<div class="page-header"><h1>Logfile <small><a href="$autosub.WEBROOT/log">All</a></small> <small><a href="$autosub.WEBROOT/log/viewLog/info">Info</a></small> <small><a href="$autosub.WEBROOT/log/viewLog/debug">Debug</a></small> <small><a href="$autosub.WEBROOT/log/viewLog/warning">Warning</a></small> <small><a href="$autosub.WEBROOT/log/viewLog/error">Error</a></small> <small><a href="$autosub.WEBROOT/log/viewLog/critical">Critical</a></small></h1></div>

		<div class="well well-sm" align="center"><font size="3"><b>$capwords($loglevel)</b></font></div>
		<div class="well well-sm" align="left">

			<div style="width:100%;height:700px;overflow:auto;overflow-x:hidden;">
				<pre>
					#if $logentries
$logentries
					#else
There is currently no $loglevel.lower() information in your log file, make sure your loglevel is atleast: $capwords($loglevel).
You can change the loglevel in your <a href="$autosub.WEBROOT/config/settings#logfile"><u>configuration</u></a>
					#end if
				</pre>
			</div>
		</div>
		
#include $os.path.join($autosub.PATH.encode(), "interface/templates/footer.tmpl")
