/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 60px;
}
#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
	}
}

@media (min-width: 980px) {
#wrap > .container {
	padding-top: 10px;
}

.container .credit {
	margin: 20px 0;
}
}
code {
	font-size: 80%;
}

/* Wanted & Downloaded tables */

/*
.table {
	clear: both;
	width: 100%;
	margin: 0 auto;
	text-decoration: none;
	padding: 0;
	border-spacing: 0;
}

.table thead {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bcbcbc;
}

.table thead th:first-child {
	border-left: none;
	text-align: left;
}

.table thead th:last-child {
	border-right: none;
}

.table thead th {
	vertical-align: middle;
	text-align: center;
	padding: 8px 5px;
	border-left: 1px solid #fff;
	border-right: 1px solid #c3c3c3;
	cursor: pointer;
}

.table thead th .language {
	vertical-align: middle;
	padding: 8px 5px;
	border-left: 1px solid #fff;
	border-right: 1px solid #c3c3c3;
	cursor: pointer;
}

.table tbody th, .table tbody td, .table tfoot th, .table tfoot td {
	vertical-align: top;
	padding: 7px;
	border-left: 1px dotted #bebebe;
		text-decoration: none;
}

.table tbody td:first-child {
	background: #f8f8f8;
	text-decoration: none;
	text-align: left;
	width: 250px;
}

.table tbody td {
	background: #f8f8f8;
	text-decoration: none;
	text-align: center;
	width: 75px;
}

.table tbody td:last-child {
	width: 150px;
}

.table tbody th:first-child, .table tbody .th:first-child, .table tbody td:first-child, .table tfoot th:first-child, .table tfoot td:first-child {
	border-left: none;
	text-align: left;
}

.table tbody tr.even td, .table tbody tr:nth-child(2n) td {
	background: #f0f0f0;
}

.table tbody tr:hover th, .table tbody tr:hover .th, .table tbody tr:hover td {
	background: #e8eaef;
}
*/

/* Wanted & Downloaded custom dropdown height */

.navbar-collapse.skipshow {
	margin-bottom: 15px;
	margin-right: 10px;
	padding: 0px 0px;
	height: 0px;
	overflow: visible;
	background: transparent;
}
.navbar-collapse.skipshow .nav > li > a {
    position: relative;
    display: block;
    padding: 0px 0px;
	background: transparent;
}

/* General center */

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* Change font for the well headers. */

.well-header {
	font-size: 16px;
}

/* Next Run table */

.td-nextrun {
	text-align: center;
	width: 33%;
}

.table-nextrun {
	text-align: center;
	width: 100%;
}

/* Configuration tables */

.table-config {
	width: 70%;
	padding: 0;
	border-collapse: collapse;
}

.td-first-config {
	width: 250px;
	text-align: left;
}

.config-checkbox {
	height: 40px;
}

/* Traceback error message in modal */

textarea.traceback {
	width: 100%;
}